div(id="projects" class="d-flex flex-column justify-content-center align-items-center text-center py-5" style="min-height: 100%;")
  // - Title
  h2(class="font-weight-normal") Selective Projects
  // - Projects
  div(class="row justify-content-start text-left w-75")
    each project in projects
      div(class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4" style="display: flex;")
        div(class="card justify mx-auto w-100" )
          a(href="" data-toggle="modal" data-target="#project_modal" data-project=project)
            img(class="card-img-top border-bottom" src=project.thumbnail)
          div(class="card-body d-flex flex-column py-3")
            h6(class="card-title mb-1") #{project.name}
            small(class="card-text mb-3") #{project.description_short}
            button(class="btn btn-outline-info btn-sm text-capitalize mt-auto" type="button" data-toggle="modal" data-target="#project_modal" data-project=project) More info