div(id="skills-and-education" class="d-flex flex-column justify-content-center align-items-center text-center py-5" style="min-height: 100%;")
  // - Title
  h2(class="font-weight-normal") Skills and Education
  h(class="mb-5 font-weight-light") Working with others and learning from failures continues to make me a better developer. 
  // - Skills
  div(class="card mb-5 w-75 text-left")
    div(class="card-body")
      h5(class="card-title") Android, Unity, and Web Applications 
      p(class="card-text")
        span I have previously worked on four concurrent software engineering projects within three months — Three projects 
        span as a front-end lead and one as an independent, full stack developer.
      hr(class="my-3 mx-5")
      // Languages
      each level, title in {"Proficient with: ": skills_pw, "Experienced with: ": skills_ew, "Worked with: ": skills_ww}
        p(class="text-muted font-weight-light mb-1") #{title}
          each skill, index in level
            - string = (level.length === index + 1 ? "and " + skill.name + "." : skill.name + ", ")
            span(class="font-weight-normal text-info") #{string}
  // - Education
  div(class="card mb-5 w-75 text-left")
    div(class="card-body")
      h5(class="card-title") Computer Science Graduate
      p(class="card-text")
        span I completed 62 degree units in my last 3 semesters while raising my GPA from a 1.8 to a 3.1. As a former college 
        span drop-out, I continue to strive at bettering myself everyday.
      hr(class="my-3 mx-5")
      // - Degrees
      div(class="row justify-content-center text-center small")
        each degree in education
          div(class="card text-white bg-info m-2" style="max-width: 50%;")
            div(class="card-header py-2") #{degree.school_name}
            div(class="card-body py-2")
              p(class="card-text") #{degree.degree_type} <br> #{degree.study} <br> #{degree.year_start} - #{degree.year_end}